@import "tailwindcss";

.shadow-\[rgba\(0\,0\,0\,0\.16\)_0px_3px_6px\,_rgba\(0\,0\,0\,0\.23\)_0px_3px_6px\] {
    --tw-shadow-color: color-mix(in oklab, rgba(0,0,0,0.25) 0px 14px 28px, rgba(0,0,0,0.22) 0px 10px 10px var(--tw-shadow-alpha), transparent);
}